**/node_modules
**/.git
.github
Dockerfile
docker-compose.yml
LICENSE
coverage
infra
Jenkinsfile
README.md
__tests__
jest.config.js
k8s-deployment.yaml
npm-debug.log
.env
.env.*
backend/data
backend/test
**/*.sqlite*
