HFA_PORT=8080
PUBLIC_APP_URL=http://localhost:8080
PUBLIC_LOGIN_URL=http://localhost:8080
WHATSAPP_ENABLED=false
META_GRAPH_VERSION=v24.0
META_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_NUMBER=
WHATSAPP_ACTIVITY_TEMPLATE=
WHATSAPP_TEMPLATE_LANGUAGE=en_US
WHATSAPP_TEMPLATE_LOGIN_URL_PARAMETER=false
WHATSAPP_DAILY_RECIPIENT_LIMIT=20
WHATSAPP_DAILY_TOTAL_LIMIT=1000
META_ACCESS_TOKEN=
META_APP_SECRET=
META_WEBHOOK_VERIFY_TOKEN=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=